.nextflow*
work/
data/
results*/
.DS_Store
testing/
testing*
*.pyc
.nf-test/
clipseq*.out
*.nextflow.log*
conf/test_dedup_fastq.config
Homo_sapiens.GRCh38.111.gtf/Homo_sapiens.GRCh38.111.gtf
C1C_Samplesheet.csv
