params {
    publish_dir_mode = 'copy'
    fasta                          = null
    fasta_fai                      = null
    ncrna_fasta                    = null
    ncrna_fasta_fai                = null
    gtf                            = null
    genome_index                   = null
    ncrna_genome_index             = null
    genome_chrom_sizes             = null
    ncrna_chrom_sizes              = null
    representative_transcript      = null
    representative_transcript_fai  = null
    representative_transcript_gtf  = null
    filtered_gtf                   = null
    seg_gtf                        = null
    regions_gtf                    = null
    regions_filt_gtf               = null
    regions_resolved_gtf           = null
    skip_filter_gtf                = false
    skip_transcriptome             = false
}

process{
    withName: 'REMOVE_GTF_BRACKETS' {
        ext.cmd1 = "sed 's/)/_/g' | sed 's/(/_/g'"
        ext.ext = 'gtf'
        ext.suffix = '_bracketsremoved'
    }
}
