/* Config file just for testing the new workflow deduplicating fastq with the same
sample name */

params {
    config_profile_name = 'Testing FASTQ dedup'

    // Input data - duplicated FASTQs
    input = "../..//test_samplesheet_fastq_dupe.csv"
    source = "fastq"

    // Genome references
    ncrna_fasta  = "https://raw.githubusercontent.com/nf-core/test-datasets/clipseq/v_2_0/genome/homosapiens_smallRNA.fa.gz"
    fasta        = 'https://ftp.ensembl.org/pub/release-111/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'
    gtf          = 'https://ftp.ensembl.org/pub/release-111/gtf/homo_sapiens/Homo_sapiens.GRCh38.111.gtf.gz'
    save_reference = true

    // UMI options
    umitools_bc_pattern     = 'NNNNNNNNN'
    umitools_umi_separator  = '_'
    skip_umi_extract        = false

}